<div class="d-lg-flex d-none me-3" style="width: 250px">
    <div class="card text-dark w-100 bg-dark">
        <div class="card-body">
            <div class="card-content">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action list-group-item-dark">All Articles ...<a href="/article/index" class="stretched-link"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
