<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><%= locals.nav?.brand %></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <%(locals.nav?.list || []).forEach(navEntry => {%>
                <a class="nav-link <%=navEntry.active ? "active" : ""%>" href="<%=navEntry.href%>"><%=navEntry.text%></a>
                <%});%>
            </div>
        </div>
    </div>
</nav>
