<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../parts/head"); %>
</head>
<body>
    <%- include("../parts/navbar"); %>
    <main class="container">
        <div class="col">
            <%- include("../parts/article") %>
        </div>
    </main>
</body>
</html>